body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Rubik", serif;
}

.muted {
  font-size: 1rem;
  color: #570000;
  letter-spacing: -0.75px;
}

.text {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -1.25px;
  line-height: 1.05;
}

button,
.button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  font-size: 1rem;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 1.5rem;
  background-color: #570000;
  text-decoration: none;
  font-family: "Rubik", serif;
}
button svg,
.button svg {
  width: 1.35rem;
  height: 1.35rem;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}
.title .updated {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: #5c5c5c;
  font-size: 0.85rem;
}
.title .updated svg {
  width: 1.07rem;
  height: 1.07rem;
}

.list {
  height: 100%;
  padding: 0.5rem;
}
.list .wrapper {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.list .wrapper .box {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 0.5rem;
  gap: 1rem;
  border-radius: 1.5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.list .wrapper .box .img-container {
  flex: 0 1 150px;
  display: flex;
  border-radius: 1.5rem;
}
.list .wrapper .box .img-container img {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.5rem;
}
.list .wrapper .box .info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.5rem;
  gap: 0.5rem;
}
.list .wrapper .box .info .content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.floating-button {
  position: fixed;
  bottom: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

#map {
  position: relative;
}
#map .marker {
  width: 60px;
  height: 60px;
  display: block;
  padding: 0;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
#map details.maplibregl-ctrl-attrib {
  display: none;
}
#map .panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: 1;
  transition: width 0.2s ease;
  overflow: hidden;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#map .panel .wrapper {
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
#map .panel .wrapper .calle {
  display: flex;
  padding-bottom: 0.25rem;
  border-bottom: 2px solid #570000;
  padding: 1rem;
  order: -1;
}
#map .panel .wrapper .content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  height: 100%;
  overflow-y: auto;
  padding: 0.7rem;
  box-sizing: border-box;
}
#map .panel .wrapper .content .panel-agrupacion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 0.7rem;
  border-radius: 0.75rem;
  gap: 0.25rem;
}
#map .panel .wrapper .content .panel-agrupacion .row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
#map .panel .wrapper .content .panel-agrupacion .row .column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#map .panel .wrapper .content .panel-agrupacion .row .column .muted:first-child {
  font-weight: 600;
  color: #000;
  font-size: 1.1rem;
  margin-bottom: 0.25rem;
}
#map .panel .wrapper .content .panel-agrupacion .row img {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#map .panel .wrapper .content .panel-agrupacion .panel-actuaciones {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem 2rem;
  margin-top: 1rem;
}
#map .panel .wrapper .content .panel-agrupacion .panel-actuaciones > .text {
  margin-bottom: 0.25rem;
}
#map .panel .wrapper .content .panel-agrupacion .panel-actuaciones .panel-actuaciones-item {
  flex: 1 1 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
}
#map .panel .wrapper .content .panel-agrupacion .panel-actuaciones .panel-actuaciones-item .fecha {
  font-size: 1.2rem;
  letter-spacing: -0.25px;
}
#map .panel.show {
  width: 70%;
}
#map a {
  position: fixed;
  bottom: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}