body {
  height: 100vh;
  padding: 0;
  margin: 0;
}

.list {
  height: 100%;
  padding: 0.5rem;
}
.list.hidden {
  display: none;
}
.list .wrapper {
  position: relative;
  height: 100%;
}
.list .wrapper .box {
  border: 3px solid red;
}

.floating-button {
  position: absolute;
  left: 50%;
  bottom: 1rem;
  transform: translateX(-50%);
  z-index: 1;
}
.floating-button.top {
  top: 1rem;
  bottom: unset;
}

#map .marker {
  display: block;
  padding: 0;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
#map details.maplibregl-ctrl-attrib {
  display: none;
}